# main-app配置
server {

    listen 80;
    server_name main-app;


    location / {
      if ($request_method = 'OPTIONS') {
        return 204;
      }
      root /usr/share/nginx/html/;
      index index.html index.htm;
      try_files $uri $uri/ /index.html; #解决页面刷新404问题
    }

    location @router {
      rewrite ^.*$ /index.html last;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
      root html;
    }
  }
